* {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	box-sizing: border-box;
}

*::selection {
	background-color: #38ef7d;
	color: white;
}

:root {
	--max-width: 1440px;
}

body {
	background-color: #212121;
	padding: 3em;
	height: 100vh;
	cursor: url('./img/cursor.png'), auto;
}

#App {
	height: 100%;
}

.noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar {
	width: 10px;
	margin-right: 15px;
}
body::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}

header {
	height: 5%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5%;
}

header li a {
	font-family: 'Montserrat', sans-serif;
}

.logo img {
	height: 4em;
	pointer-events: none;
}

header ol {
	display: flex;
}

header li {
	margin: 0 1em;
	font-size: 1.5em;
	text-transform: uppercase;
}

.link-navbar:hover {
	background: -webkit-linear-gradient(
		0deg,
		rgba(17, 153, 142, 1) 0%,
		rgba(56, 239, 125, 1) 50%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

ol,
li {
	list-style: none;
}

a {
	text-decoration: none;
	cursor: url('./img/cursor-pointer.png'), pointer;
}
.redes a {
	margin: 0 0.3em;
}

.redes {
	display: flex;
	height: 1em;
	align-items: center;
	justify-content: space-between;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 83%;
	padding-top: 65px;
}

.img-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	text-transform: uppercase;
	background-size: 30em;
	background-repeat: no-repeat;
	background-position: center;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	overflow: hidden;
}

.img-hero img {
	height: 100%;
}

.info-hero h1 {
	font-weight: 100;
	font-size: 35px;
	text-transform: uppercase;
}

.info-hero strong {
	font-family: sans-serif;
	font-family: 'Raleway', sans-serif;
}

.info-hero {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.btn-primary {
	background: linear-gradient(
		90deg,
		rgba(17, 153, 142, 1) 0%,
		rgba(56, 239, 125, 1) 100%
	);
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 130px;
	font-weight: 800;
	margin-top: 16px;
	outline: none;
	cursor: url('./img/cursor-pointer.png'), pointer;
	transition: 0.2s;
}

.btn-primary:hover {
	font-size: 16px;
	background: linear-gradient(
		90deg,
		rgba(17, 153, 142, 1) 0%,
		rgba(56, 239, 125, 1) 50%
	);
}

.icono-social {
	width: 1em;
	height: 1em;
}

.icono-social-contacto {
	width: 25px;
	height: 25px;
}

.app-store {
	background-image: url(./img/app-store.svg);
	background-repeat: no-repeat;
}
.google-play {
	background-image: url(./img/google-play.svg);
	background-repeat: no-repeat;
}
.link {
	background-image: url(./img/link.svg);
	background-repeat: no-repeat;
}
.linkedin {
	background-image: url(./img/linkedin.svg);
	background-repeat: no-repeat;
}
.github {
	background-image: url(./img/github.svg);
	background-repeat: no-repeat;
}
.instagram {
	background-image: url(./img/instagram.svg);
	background-repeat: no-repeat;
}
.email {
	background-image: url(./img/email.svg);
	background-repeat: no-repeat;
}
.whatsapp {
	background-image: url(./img/whatsapp.svg);
	background-repeat: no-repeat;
}
.youtube {
	background-image: url(./img/youtube.svg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.flores-hero {
	position: fixed;
	left: -30px;
	bottom: -60px;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
	pointer-events: none;
}

.soy {
	position: relative;
	z-index: 1;
}

.soy p {
	margin-top: 0.4em;
}

.flores-hero img {
	width: 30em;
	opacity: 0.6;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.flores-projects {
	position: fixed;
	right: -30px;
	bottom: -60px;
	pointer-events: none;
}

.flores-projects-vuelta {
	position: fixed;
	left: -30px;
	bottom: -60px;
	-webkit-transform: scaleX(-1);
	-moz-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: 'FlipH';
	pointer-events: none;
}

.flores-projects img {
	width: 40em;
	opacity: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.flores-projects-vuelta img {
	width: 40em;
	opacity: 1;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.burger-button {
	height: 2em;
	width: 2em;
	display: none;
	text-align: center;
	outline: none;
	border: none;
	background-image: url(./img/menu.svg);
	background-color: transparent;
	cursor: url('./img/cursor-pointer.png'), pointer;
}

.illustration-team {
	width: 24.25em;
	height: 17.3125em;
	border-radius: 0.625em;
	position: relative;
}

.illustration-team .hands {
	margin-top: 1.875em;
}

.illustration-team .hand-left {
	width: 9.9375em;
	height: 17.625em;
	animation: hand-left 4s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite;
}

.illustration-team .hand-right {
	width: 9.9375em;
	height: 17.625em;
	margin-left: 4.0625em;
	animation: hand-right 4s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite;
}

@keyframes hand-left {
	45%,
	0%,
	55%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(35px);
	}
}
@keyframes hand-right {
	45%,
	0%,
	55%,
	100% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(-35px);
	}
}
.illustration-team .marks {
	position: absolute;
	top: -1.875em;
	left: 50%;
	margin-left: -0.1875em;
}
.illustration-team .marks .mark {
	position: absolute;
	top: 0;
	width: 0.3125em;
	border-radius: 0.1875em;
	background: #4c4f5a;
}
.illustration-team .marks .mark:before,
.illustration-team .marks .mark:after {
	content: '';
	position: absolute;
	left: 0;
	width: 0.3125em;
	border-radius: 0.1875em;
	background: #4c4f5a;
}
.illustration-team .marks .mark:before {
	top: -1.875em;
	height: 1.25em;
}
.illustration-team .marks .mark:after {
	top: -3.125em;
	height: 0.625em;
}
.illustration-team .marks .mark-1,
.illustration-team .marks .mark-4,
.illustration-team .marks .mark-5 {
	height: 3.125em;
}
.illustration-team .marks .mark-2,
.illustration-team .marks .mark-3 {
	height: 1.875em;
}
.illustration-team .marks .mark-2 {
	transform: translate(30px, 10px) rotate(30deg);
}
.illustration-team .marks .mark-3 {
	transform: translate(-30px, 10px) rotate(-30deg);
}
.illustration-team .marks .mark-4 {
	transform: translate(-45px, 25px) rotate(-60deg);
}
.illustration-team .marks .mark-5 {
	transform: translate(45px, 25px) rotate(60deg);
}
.illustration-team .marks .mark {
	animation: mark-color 4s linear 0.5s infinite;
}
.illustration-team .marks .mark:before {
	animation: mark-color 4s linear 1.5s infinite;
}
.illustration-team .marks .mark:after {
	animation: mark-color 4s linear 2.5s infinite;
}

@keyframes mark-color {
	40%,
	60% {
		background: #4c4f5a;
	}
	41%,
	59% {
		background: #fff;
	}
}

.FormContacto {
	display: flex;
	width: 100%;
	height: 80%;
	padding-top: 65px;
	flex-wrap: wrap;
	max-width: var(--max-width);
	margin: 0 auto;
	align-items: center;
}

.illustration,
.form {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.form {
	align-items: flex-start;
}

.form input {
	height: 45px;
	margin-bottom: 30px;
}

.container-form {
	width: 80%;
	text-align: right;
}

.redes-form {
	width: 100%;
	height: 45px;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(90deg, #fc00ff, #00dbde);
	border-radius: 5px;
	margin-bottom: 30px;
}

.redes-form .icono-social-contacto {
	margin: 0 20px;
}

.input-textarea {
	background-color: #424242;
	outline: none;
	border: none;
	border-radius: 5px;
	width: 100%;
	resize: none;
	font-weight: 600;
	padding: 15px;
}

textarea::-webkit-scrollbar {
	width: 10px;
	margin-right: 15px;
}
textarea::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 5px;
}

.ProyectosSection {
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 50px;
}

.img-proyectos {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-proyectos img {
	width: 50%;
	pointer-events: none;
}

.movile-web-proyects {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.card-proyecto {
	border-radius: 10px;
	width: 400px;
	margin-bottom: 40px;
	font-size: 16px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	-webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
}

.card-proyecto img {
	display: inline-block;
	position: relative;
	left: 40%;
	pointer-events: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

.info-card {
	position: absolute;
	padding-right: 100px;
}

.card-proyecto h1 {
	font-size: 3em;
	font-family: 'Raleway', sans-serif;
	transition: 0.2s;
}

.card-proyecto p {
	font-size: 1em;
	transition: 0.2s;
}

.card-proyecto:hover {
	font-size: 20px;
}

.card-1 img {
	width: 250px;
}
.card-2 img {
	width: 200px;
}

.card-1 {
	background: linear-gradient(90deg, #24c6dc, #514a9d);
}
.card-2 {
	background: linear-gradient(90deg, #8e2de2, #4a00e0);
}

.content {
	width: 100%;
}

.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#bongo-cat {
	height: 300px;
	width: 400px;
	margin: auto;
}

.not-found-page {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.typing-animation {
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-duration: 1200ms;
	animation-duration: 1200ms;
}

path#f1-l1 {
	-webkit-animation-name: typing-f1-l1;
	animation-name: typing-f1-l1;
}

path#f1-l2 {
	-webkit-animation-name: typing-f1-l2;
	animation-name: typing-f1-l2;
}

path#f1-l3 {
	-webkit-animation-name: typing-f1-l3;
	animation-name: typing-f1-l3;
}

path#f2-l4 {
	-webkit-animation-name: typing-f2-l4;
	animation-name: typing-f2-l4;
}

path#f2-l5 {
	-webkit-animation-name: typing-f2-l5;
	animation-name: typing-f2-l5;
}

path#f2-l6 {
	-webkit-animation-name: typing-f2-l6;
	animation-name: typing-f2-l6;
}

path#f3-l7 {
	-webkit-animation-name: typing-f3-l7;
	animation-name: typing-f3-l7;
}

path#f3-l8 {
	-webkit-animation-name: typing-f3-l8;
	animation-name: typing-f3-l8;
}

path#f3-l9 {
	-webkit-animation-name: typing-f3-l9;
	animation-name: typing-f3-l9;
}

@-webkit-keyframes typing-f3-l9 {
	0% {
		d: path('M8,25L8,25');
	}
	82% {
		d: path('M8,25L8,25');
	}
	92% {
		d: path('M8,25L96,25');
	}
	100% {
		d: path('M8,25L96,25');
	}
}

@keyframes typing-f3-l9 {
	0% {
		d: path('M8,25L8,25');
	}
	82% {
		d: path('M8,25L8,25');
	}
	92% {
		d: path('M8,25L96,25');
	}
	100% {
		d: path('M8,25L96,25');
	}
}
@-webkit-keyframes typing-f3-l8 {
	0% {
		d: path('M8,13L8,13');
	}
	68% {
		d: path('M8,13L8,13');
	}
	82% {
		d: path('M8,13L146,13');
	}
	100% {
		d: path('M8,13L146,13');
	}
}
@keyframes typing-f3-l8 {
	0% {
		d: path('M8,13L8,13');
	}
	68% {
		d: path('M8,13L8,13');
	}
	82% {
		d: path('M8,13L146,13');
	}
	100% {
		d: path('M8,13L146,13');
	}
}
@-webkit-keyframes typing-f3-l7 {
	0% {
		d: path('M0,1L0,1');
	}
	60% {
		d: path('M0,1L0,1');
	}
	68% {
		d: path('M0,1L96,1');
	}
	100% {
		d: path('M0,1L96,1');
	}
}
@keyframes typing-f3-l7 {
	0% {
		d: path('M0,1L0,1');
	}
	60% {
		d: path('M0,1L0,1');
	}
	68% {
		d: path('M0,1L96,1');
	}
	100% {
		d: path('M0,1L96,1');
	}
}
@-webkit-keyframes typing-f2-l6 {
	0% {
		d: path('M8,25L8,25');
	}
	54% {
		d: path('M8,25L8,25');
	}
	60% {
		d: path('M8,25L69,25');
	}
	100% {
		d: path('M8,25L69,25');
	}
}
@keyframes typing-f2-l6 {
	0% {
		d: path('M8,25L8,25');
	}
	54% {
		d: path('M8,25L8,25');
	}
	60% {
		d: path('M8,25L69,25');
	}
	100% {
		d: path('M8,25L69,25');
	}
}
@-webkit-keyframes typing-f2-l5 {
	0% {
		d: path('M8,13L8,13');
	}
	44% {
		d: path('M8,13L8,13');
	}
	54% {
		d: path('M8,13L114,13');
	}
	100% {
		d: path('M8,13L114,13');
	}
}
@keyframes typing-f2-l5 {
	0% {
		d: path('M8,13L8,13');
	}
	44% {
		d: path('M8,13L8,13');
	}
	54% {
		d: path('M8,13L114,13');
	}
	100% {
		d: path('M8,13L114,13');
	}
}
@-webkit-keyframes typing-f2-l4 {
	0% {
		d: path('M0,1L0,1');
	}
	30% {
		d: path('M0,1L0,1');
	}
	44% {
		d: path('M0,1L136,1');
	}
	100% {
		d: path('M0,1L136,1');
	}
}
@keyframes typing-f2-l4 {
	0% {
		d: path('M0,1L0,1');
	}
	30% {
		d: path('M0,1L0,1');
	}
	44% {
		d: path('M0,1L136,1');
	}
	100% {
		d: path('M0,1L136,1');
	}
}
@-webkit-keyframes typing-f1-l3 {
	0% {
		d: path('M8,25L8,25');
	}
	24% {
		d: path('M8,25L8,25');
	}
	30% {
		d: path('M8,25L61,25');
	}
	100% {
		d: path('M8,25L61,25');
	}
}
@keyframes typing-f1-l3 {
	0% {
		d: path('M8,25L8,25');
	}
	24% {
		d: path('M8,25L8,25');
	}
	30% {
		d: path('M8,25L61,25');
	}
	100% {
		d: path('M8,25L61,25');
	}
}
@-webkit-keyframes typing-f1-l2 {
	0% {
		d: path('M8,13L8,13');
	}
	14% {
		d: path('M8,13L8,13');
	}
	24% {
		d: path('M8,13L124,13');
	}
	100% {
		d: path('M8,13L124,13');
	}
}
@keyframes typing-f1-l2 {
	0% {
		d: path('M8,13L8,13');
	}
	14% {
		d: path('M8,13L8,13');
	}
	24% {
		d: path('M8,13L124,13');
	}
	100% {
		d: path('M8,13L124,13');
	}
}
@-webkit-keyframes typing-f1-l1 {
	0% {
		d: path('M0,1L0,1');
	}
	14% {
		d: path('M0,1L160,1');
	}
	100% {
		d: path('M0,1L160,1');
	}
}
@keyframes typing-f1-l1 {
	0% {
		d: path('M0,1L0,1');
	}
	14% {
		d: path('M0,1L160,1');
	}
	100% {
		d: path('M0,1L160,1');
	}
}
#paw-right--up,
#paw-right--down,
#paw-left--up,
#paw-left--down {
	-webkit-animation: blink 300ms infinite;
	animation: blink 300ms infinite;
}

#paw-right--up,
#paw-left--down {
	-webkit-animation-delay: 150ms;
	animation-delay: 150ms;
}

@-webkit-keyframes blink {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}

@keyframes blink {
	0% {
		opacity: 0;
	}
	49% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
}
#laptop__code {
	-webkit-transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg)
		translateX(8px) translateY(20px) translateZ(-50px);
	transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px)
		translateY(20px) translateZ(-50px);
}

#laptop__cover {
	mix-blend-mode: hard-light;
}

.info-404 {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.info-404 h1 {
	color: #38ef7d;
}
.info-404 a {
	color: #38ef7d;
	width: 100%;
	text-align: center;
	margin-top: 25px;
}
.info-404 a:hover {
	text-decoration: underline;
}

.sobremi {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 85%;
	max-width: var(--max-width);
	margin: 0 auto;
}

.sobre-mi-info {
	width: 65%;
	height: 100%;
	font-size: 0.9em;
	align-items: center;
	overflow: auto;
}

.list-info-sobremi {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}

.sobre-mi-info li {
	width: 165px;
	margin: 5px 0;
}

.sobre-mi-img {
	width: 30%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5%;
}

.sobre-mi-img img {
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
}

#box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 95%;
	height: 100%;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	flex-wrap: wrap-reverse;
	padding: 50px;
}
.gradient-border {
	--borderWidth: 5px;
	background: #1d1f20;
	position: relative;
	border-radius: var(--borderWidth);
}
.gradient-border:after {
	content: '';
	position: absolute;
	top: calc(-1 * var(--borderWidth));
	left: calc(-1 * var(--borderWidth));
	height: calc(100% + var(--borderWidth) * 2);
	width: calc(100% + var(--borderWidth) * 2);
	background: linear-gradient(
		60deg,
		#f79533,
		#f37055,
		#ef4e7b,
		#a166ab,
		#5073b8,
		#1098ad,
		#07b39b,
		#6fba82
	);
	border-radius: calc(2 * var(--borderWidth));
	z-index: -1;
	-webkit-animation: animatedgradient 3s ease alternate infinite;
	animation: animatedgradient 3s ease alternate infinite;
	background-size: 300% 300%;
}

@-webkit-keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.proyecto-item {
	width: 340px;
	height: 200px;
	background-color: #303030;
	border-radius: 10px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 45px;
	--tamaño: 5px;
	--color: white;
}

.proyecto-item:hover {
	--tamaño: 10px;
	--color: #38ef7d;
	background: #282828;
	-webkit-transition: background-color 0.2s ease-out;
	-moz-transition: background-color 0.2s ease-out;
	-o-transition: background-color 0.2s ease-out;
	transition: background-color 0.2s ease-out;
}

.proyecto-item h1 {
	font-family: 'Raleway', sans-serif;
	margin-bottom: 15px;
	align-items: center;
	color: var(--color);
	font-size: 1.2em;
}

.proyecto-item li {
	font-size: 10px;
}
.proyecto-item p {
	margin-top: 15px;
}

.item-img-web {
	width: 65%;
	position: absolute;
	left: 45%;
	top: 10%;
	object-fit: contain;
}

.item-img-movil {
	width: 40%;
	position: absolute;
	left: 55%;
	bottom: 6%;
	object-fit: contain;
}

.contenedor-item {
	display: flex;
	width: 100%;
	height: 95%;
	position: relative;
}

.barra-item {
	width: 100%;
	height: 15%;
	background-color: #424242;
	display: flex;
	align-items: center;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-left: 15px;
}

.circulo-item {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 var(--tamaño);
	transition: 0.2s;
}

.circulo-rojo {
	background: linear-gradient(90deg, #e43a15 0%, #e65245 100%);
}
.circulo-amarillo {
	background: linear-gradient(270deg, #f9d423 0%, #ff4e50 100%);
}
.circulo-verde {
	background: linear-gradient(270deg, #11998e 0%, #38ef7d 100%);
}

.info-item {
	width: 50%;
	height: 95%;
	padding: 35px;
	padding-bottom: 0;
}

.project-type {
	width: 100%;
	height: 20%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.search {
	display: flex;
	width: 50%;
	height: 45px;
	position: relative;
	margin: 0 15%;
}

.search input {
	background-color: #424242;
	outline: none;
	border: none;
	border-radius: 5px;
	width: 100%;
	font-weight: 600;
	padding: 15px;
}

.search-search {
	background-image: url(./img/search.svg);
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 15px 15px;
	background-position-y: center;
	background-position-x: center;
	border: none;
	width: 7%;
	height: 100%;
	position: absolute;
	right: 0;
	bottom: 0;
	top: 0;
	outline: none;
	cursor: url('./img/cursor-pointer.png'), pointer;
}

.cancel-search-search {
	background-image: url(./img/cancelSearch.svg);
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
	height: 55vh;
	position: relative;
	left: 0;
	right: 0;
	bottom: 0;
	top: 5vh;
	padding: 0 3em;
	max-width: var(--max-width);
	margin: 0 auto;
}

.project-type-title {
	width: 80%;
	height: 5%;
	font-size: 50px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	padding-bottom: 75px;
}

.noScrollBar::-webkit-scrollbar {
	width: 10px;
	margin-right: 15px;
}
.noScrollBar::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 5px;
}
.noScrollBar::-webkit-scrollbar-corner {
	color: transparent;
}

.loader {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 50px;
	opacity: 0.8;
	align-items: center;
	display: flex;
}
.loader span {
	color: #38ef7d;
	padding: 0 10px;
	display: inline-block;
	-webkit-animation: pulse 0.4s alternate infinite ease-in-out;
	animation: pulse 0.4s alternate infinite ease-in-out;
}
.loader span:nth-child(odd) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}
@-webkit-keyframes pulse {
	to {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0.5;
	}
}
@keyframes pulse {
	to {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
		opacity: 0.5;
	}
}

.contenedor-detalles {
	display: flex;
	width: 100%;
	height: 85%;
	flex-wrap: wrap;
	max-width: var(--max-width);
	margin: 0 auto;
}

.img-detalles-proyecto {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-detalles-proyecto img {
	width: 90%;
}

.info-detalles-proyecto {
	width: 50%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.info-detalles-proyecto h1 {
	text-align: center;
}

.parrafo-detalles {
	width: 100%;
	background-color: #303030;
	padding: 1em;
	margin: 1em 0;
	border-radius: 5px;
}

.lista-detalles {
	display: flex;
	flex-wrap: wrap;
}

.lista-detalles li {
	color: #38ef7d;
	padding: 0.5em 0;
	padding-right: 3em;
}

.botones-detalles {
	display: flex;
	margin-top: 1.5em;
	flex-wrap: wrap;
}

.btn-details {
	background-color: #424242;
	width: 11.5em;
	height: 2.5em;
	border-radius: 5px;
	display: flex;
	align-items: center;
	padding: 1em;
	justify-content: space-between;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.icono-btn-details {
	width: 1.5em;
	height: 1.5em;
}

.hosting {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 3%;
}

.contenedor-hosting {
	background-color: #303030;
	border-radius: 15px;
	display: flex;
	padding: 3%;
	width: 90%;
	align-items: center;
	justify-content: center;
	margin-left: 10%;
	position: relative;
	align-items: center;
	flex-wrap: wrap;
}

.contenedor-hosting img {
	width: 30%;
	position: absolute;
	left: -8%;
}

.btn-purple {
	background: linear-gradient(90deg, #8e2de2 0%, #4a00e0 100%);
	border: none;
	border-radius: 5px;
	height: 40px;
	width: 350px;
	font-weight: 800;
	margin-top: 16px;
	display: flex;
	font-size: 14px;
	align-items: center;
	justify-content: center;
	outline: none;
	cursor: url('./img/cursor-pointer.png'), pointer;
	transition: 0.2s;
}

.btn-purple:hover {
	font-size: 15px;
	background: linear-gradient(90deg, #8e2de2 0%, #4a00e0 80%);
}

.contenedor-info-hosting {
	text-align: center;
	width: 75%;
	margin-left: 25%;
	align-items: center;
}

.contenedor-boton-hosting {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.info-hosting {
	text-align: left;
}

/* #Hosting {
	display: none;
} */

@media screen and (max-width: 1024px) {
	.menu {
		font-size: 11px;
	}

	.illustration {
		width: 100%;
		margin-bottom: 50px;
	}

	.container-form {
		width: 100%;
	}

	.form {
		width: 100%;
	}
	.flores-projects img {
		width: 30em;
	}
	.flores-projects-vuelta img {
		width: 30em;
	}

	.contenedor-hosting img {
		width: 50%;
		position: initial;
		margin-bottom: 40px;
	}

	.contenedor-hosting h1 {
		font-size: 20px;
	}
	.contenedor-hosting h2 {
		font-size: 16px;
	}

	.contenedor-info-hosting {
		text-align: center;
		width: 100%;
		margin-left: 0%;
		align-items: center;
	}

	.contenedor-hosting {
		position: initial;
		margin: 0%;
		background-color: transparent;
	}

	.hosting {
		margin-bottom: 20%;
		padding-top: 10%;
	}
}

@media screen and (max-width: 768px) {
	.movile-web-proyects {
		width: 90%;
	}

	.card-proyecto {
		width: 100%;
	}

	.card-1 img {
		width: 170px;
	}
	.card-2 img {
		width: 150px;
	}

	.flores-projects img {
		width: 20em;
	}
	.flores-projects-vuelta img {
		width: 20em;
	}
	.illustration {
		display: none;
	}
	body {
		height: 92vh;
	}

	.hero {
		flex-wrap: wrap-reverse;
		height: 90%;
	}

	.info-hero h1 {
		font-size: 23px;
	}

	.flores-hero img {
		width: 20em;
	}

	.img-hero {
		width: 100%;
		height: 50%;
	}

	.img-hero img {
		height: 100%;
	}

	.info-hero {
		width: 100%;
	}

	.burger-button {
		display: flex;
	}

	.redes {
		display: none;
	}

	.menu {
		position: fixed;
		background: rgba(33, 33, 33, 0.9);
		z-index: 2;
		top: 0;
		left: -100vw;
		width: 100vw;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.3s;
		font-size: 18px;
	}

	header ol {
		display: block;
		text-align: center;
	}

	header li {
		margin: 1em;
		font-size: 2em;
	}

	.menu.is-active {
		left: 0;
	}

	.burger-button.is-active {
		background-image: url(./img/cancel.svg);
		position: relative;
		z-index: 3;
	}

	.form {
		width: 100%;
	}

	.illustration-team {
		display: none;
	}

	.container-form {
		width: 100%;
	}

	.sobremi {
		height: 95%;
		padding-top: 30px;
	}

	.sobre-mi-info {
		width: 100%;
		height: 65%;
		overflow: auto;
	}

	.sobre-mi-info h1 {
		font-size: 1.5em;
	}

	.sobre-mi-img {
		width: 100%;
		height: 30%;
		margin: 0;
		margin-bottom: 5%;
		overflow: hidden;
	}

	.sobre-mi-img img {
		width: 80%;
	}

	#box {
		width: 100%;
		padding: 25px;
		height: 100%;
	}

	.sobre-mi-info li {
		width: 100px;
	}
	.sobre-mi-info ul {
		margin-bottom: 15px;
	}

	.redes-form .icono-social-contacto {
		margin: 0 10px;
	}

	.img-detalles-proyecto {
		width: 100%;
	}
	.info-detalles-proyecto {
		width: 100%;
	}

	.search {
		width: 100%;
		margin: 0;
	}

	.project-type-title {
		padding-top: 35px;
	}

	.projects-list {
		top: 5vh;
		height: 54vh;
	}

	.img-detalles-proyecto {
		height: 40%;
	}
	.img-detalles-proyecto img {
		width: 50%;
	}
	.info-detalles-proyecto {
		height: 50%;
		margin-top: 50px;
	}
	.btn-details {
		width: 9em;
		margin-right: 1em;
	}

	.search-search {
		width: 15%;
	}
	#Hosting {
		display: initial;
	}
}

@media screen and (max-width: 480px) {
	.info-404 h1 {
		font-size: 25px;
	}
	.info-hero h1 {
		font-size: 18px;
	}
	.proyecto-item {
		width: 310px;
		height: 200px;
	}
}

@media screen and (max-width: 320px) {
	.info-404 h1 {
		font-size: 22px;
	}
	.info-hero h1 {
		font-size: 16px;
	}

	.redes-form .icono-social-contacto {
		margin: 0 5px;
	}
}
